* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: F3F3F3;
}

header {
  background-color: FF8139;
  height: 50px;
}

.product {
  backgroun-color: white;
  border-radius: 10px;
  height: 150px;
}

